* {
  box-sizing: border-box;
}
body {
  background-color: rgb(221, 221, 221);
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}
.minWrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: rgb(36, 36, 36);
  z-index: 100;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  width: 150px;
  transition: 0.2s ease;
}
.logo:hover {
  opacity: 0.5;
}
.container-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  background-color: white;
  border-radius: 50%;
  transition: 0.3s ease;
}
.icon:hover {
  background-color: chartreuse;
}

.username {
  color: white;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
}

.container-account {
  margin-bottom: 70px;
}

.releve-header {
  margin: 20px 0px 0px 0px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px 20px;
  z-index: 50;
  box-shadow: 1px 6px 18px 0px rgba(0, 0, 0, 0.39);
  transition: 0.3s ease;
}

.releve-header:hover {
  text-decoration: underline;
}

.color1976D2 {
  background-color: #1976d2;
}

.colorC2185B {
  background-color: #c2185b;
}
.accountType {
  font-weight: 900;
}
.currency {
  opacity: 0.5;
}

.ligneDetail {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.container-operation {
  transition: 0.2s ease;
}
.container-operation:hover {
  text-decoration: underline;
  scale: 1.1;
}
.detail {
  flex: 2;
  padding-left: 20px;
}

.container-operation:nth-child(odd) {
  background-color: rgb(244, 244, 244);
}
.container-operation:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.btn {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(111, 110, 110);
  transition: 0.3s ease;
}
.btn:hover {
  scale: 1.3;
}
